.option-wrapper {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  width: 320px;
  min-height: 480px;
	padding: 0;

  text-align: left;

  background: linear-gradient(135deg, transparent 31px, @light-blue 0) top left;
  border: none;
  border-radius: 12px;

  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
}

.option-wrapper--selected {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  width: 320px;
  min-height: 480px;

  text-align: left;

  background: linear-gradient(135deg, transparent 31px, @pink 0) top left;
  border: none;
  border-radius: 12px;
}

.option-wrapper--selected .weight {
  background-color: @pink;
}
